<div class="d-flex justify-content-end form-group">
  <!-- openAddModal(AddModal) -->
  <button *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]" class="btn
    btn-primary mb-3"
    (click)="openAddSubject()"> <i class="fa fa-plus"></i>
    اضافة مادة
  </button>
</div>
<div>
  <form [formGroup]="filterSubjectsForm">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"> الدولة</label>
          <select formControlName="countryId" class="form-select"
            id="inputGroupSelect01"
            (change)="filterStagesAndGradesByCountry($any($event.target).value)">
            <option selected [ngValue]="null"> اختر دولة</option>
            <option *ngFor="let country of countries$ | async"
              [value]="country.id">
              {{country.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"> المجموعات</label>
          <select class="form-select" id="inputGroupSelect01"
            formControlName="sectionId"
            (change)="filtrationSubjects()">
            <option selected [ngValue]="null"> كل المجموعات </option>
            <option *ngFor="let section of listOfSections"
              [value]="section.sectionId"> {{section.sectionName}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">المرحلة</label>
          <select class="form-select" id="inputGroupSelect01"
            formControlName="stageId" (change)="filtrationSubjects()">
            <option selected [ngValue]="null"> الكل </option>
            <option *ngFor="let stage of listOfStages" [value]="stage.stageId">
              {{stage.stageName}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"> الصف</label>
          <select class="form-select" id="inputGroupSelect01"
            formControlName="gradeId" (change)="filtrationSubjects()">
            <option selected [ngValue]="null"> كل الصفوف </option>
            <option *ngFor="let grade of listOfGrades" [value]="grade.gradeId">
              {{grade.gradeName}} </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"> حالة التفعيل</label>
          <select class="form-select" id="inputGroupSelect01"
            formControlName="isActive"
            (change)="filtrationSubjects()">
            <option selected [ngValue]="null"> الكل </option>
            <option [ngValue]="true"> مفعل </option>
            <option [ngValue]="false"> غير مفعل </option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01">اسم المادة</label>
          <input class="form-control" id="inputGroupSelect01"
            formControlName="name"
            (keyup.Enter)="filtrationSubjects()" />
        </div>
      </div>
    </div>
  </form>
</div>

<ng-container *ngIf="!isLoading ; then view_table ; else loading_skeleton "></ng-container>
<ng-template #view_table>

  <table class="table mt-4 table-sm table-hover ">
    <thead>
      <tr>
        <th scope="col">المجموعة</th>
        <th scope="col">المرحلة الدراسية</th>
        <th scope="col">الصف الدراسي</th>
        <th scope="col">المادة</th>
        <th scope="col"> الوحدات </th>
        <th scope="col"> بنك الأسئلة </th>
        <th scope="col">اسئله الماده</th>
        <th *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]"
          scope="col">تفعيل </th>
        <th *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]"
          scope="col">تعديل</th>
        <th *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]"
          scope="col">حذف</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subject of subjectsData.subjects; index as i">
        <td> {{ subject.sectionName }} </td>
        <td> {{ subject.stageName }} </td>
        <td> {{ subject.gradeName }} </td>
        <td> {{ subject.subjectName }} </td>
        <td>
          <div>
            <a class='btn btn-outline-info btn-sm'
              (click)="setCurrentSubjectTitle(subject.subjectName);"
              routerLink="{{subject.subjectId}}/units"> <i
                class="icofont-paper"></i> </a>
          </div>
        </td>
        <td>
          <div>
            <a class='btn btn-outline-info btn-sm'
              (click)="setCurrentSubjectTitle(subject.subjectName);"
              routerLink="{{subject.subjectId}}/questions-bank"> <i
                class="icofont-paper"></i> </a>
          </div>
        </td>
        <td>
          <a class='btn btn-outline-info btn-sm'
            routerLink="lessonQuestions/{{subject.subjectId}}"> اسئله الماده
          </a>
        </td>
        <td *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]">
          <div class='switch-button'>
            <input id="{{subject.subjectId}}" name='lang'
              (change)="toggleSubjectActivation(subject.subjectId)"
              type='checkbox' [checked]="subject.isActive ? true : false " />
            <label for="{{subject.subjectId}}"></label>
          </div>
        </td>
        <td *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]">
          <!-- (click)="open(EditModal, stage.stageId)" -->
          <button class="btn btn-outline-primary btn-sm"
            (click)="open(EditModal, subject.subjectId)"> <i
              class="fa fa-edit"></i>
          </button>
        </td>
        <td *RoleAction="[RolesEnum.SUPER_ADMIN, RolesEnum.SUBJECTS]">
          <!--  -->
          <button class="btn btn-outline-danger btn-sm" [swal]="ConfirmSwal"
            (click)="deleteSubjectId= subject.subjectId"> <i class="fa
              fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center aligns-item-center">
    <ngb-pagination [collectionSize]="subjectsData.rowCount"
      [(page)]="pagination.pageNo"
      [pageSize]="pagination.pageSize" [maxSize]="3" [boundaryLinks]="true"
      (pageChange)="filtrationSubjects()"></ngb-pagination>
  </div>
</ng-template>



<ng-template #EditModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> تعديل مادة </h4>
  </div>
  <form class="modal-body" (ngSubmit)="editSubject()"
    [formGroup]="editSubjectForm">
    <div class="input-group mb-3">
      <label class="mb-2">الدولة</label>
      <ng-select [items]="countries$ | async" class="w-100"
        formControlName="country" bindLabel="name" bindValue="id"
        placeholder="اختر الدوله"></ng-select>
    </div>

    <div class="input-group mb-3">
      <label class="mb-2" for="inputGroupSelect01">المجموعه</label>
      <ng-select [items]="listOfSections" bindLabel="sectionName" class="w-100"
        formControlName="sectionId" bindValue="sectionId" placeholder="اختر
        المجموعه"></ng-select>
    </div>

    <div class="input-group mb-3">
      <label class="mb-2" for="inputGroupSelect01">المرحلة</label>
      <ng-select [items]="listOfStages" bindLabel="stageName" class="w-100"
        (change)="getGradesByStageId($event); resetGradeId()" formControlName="stageId"
        bindValue="stageId" placeholder="اختر المرحله"></ng-select>
    </div>

    <div class="input-group mb-3">
      <label class="mb-2" for="inputGroupSelect01">الصف الدراسي</label>
      <ng-select [items]="listOfGrades" bindLabel="gradeName" class="w-100"
        formControlName="gradeId" bindValue="gradeId" placeholder="اختر الصف
        الدراسي"></ng-select>
    </div>

    <div class=" mb-3">
      <span class="mb-2" id="basic-addon1">اسم المادة</span>
      <input type="text" class="form-control" placeholder="اكتب اسم المادة"
        formControlName="subjectName">
    </div>
    <div class=" mb-3">
      <span class="mb-2" id="basic-addon1">رقم المادة</span>
      <input type="text" class="form-control" placeholder="اكتب المادة المادة"
        formControlName="index">
    </div>

    <div class=" mb-3">
      <span class="mb-2" id="basic-addon1">صورة المادة</span>
      <input type="file" class="form-control" accept="image/png , image/jpeg
        , image/jpg"
        placeholder="اكتب اسم المادة" aria-label="Username"
        aria-describedby="basic-addon1"
        (change)="uploadFile($any($event.target).files)">

      <img *ngIf="upDateSubject.subjectImage"
        [src]="SITE_URL+upDateSubject.subjectImage" width="100px"
        height="100px" />
      <span class='text-danger' *ngIf="!upDateSubject.subjectImage"> لا يوجد
        صورة </span>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success"
        [disabled]="editSubjectForm.invalid"> <i
          class="fa fa-save"></i>
        حفظ</button>
      <button type="button" class="btn btn-outline-danger"
        (click)="modal.close('')"> <i class="fa fa-times-circle"></i>
        إلغاء</button>
    </div>
  </form>

</ng-template>

<!-- Success Modal Swal -->
<swal #SuccessSwal title="عملية ناجحة" icon="success" [showConfirmButton]="true"
  [confirmButtonText]="'حسناً'"
  [confirmButtonColor]="'#28a745'" class="swal-modal">
</swal>

<!-- Confirm Delete Stage Modal Swal -->
<swal #ConfirmSwal title="انتبه" [text]="'هل انت متأكد من حذف هذه المادة'"
  icon="warning" [showConfirmButton]="true"
  [confirmButtonText]="'حسناً'" [confirmButtonColor]="'#28a745'"
  [showCancelButton]="true" [cancelButtonText]="'إالغاء'"
  class="swal-modal" (confirm)="deleteSubject()">
</swal>

<ng-template #loading_skeleton>
  <ngx-skeleton-loader count="2" appearance="line" [theme]="{
    'border-radius': '5px',
    height: '40px',
    'background-color': '#efefef',
    width: '130px',
    border: '1px solid white'
    }"></ngx-skeleton-loader>

  <div class="item">
    <ngx-skeleton-loader count="5" appearance="line" [theme]="{
      'border-radius': '5px',
      height: '30px',
      'background-color': '#efefef',
      border: '1px solid white'
      }"></ngx-skeleton-loader>
  </div>
</ng-template>
